body{
  background: #eee;

}

.content{
  min-height: 100vh;
  width: 100%;
}
hr.h-color{
  background: #eee;

}


.btn.btn-primary{
  background-color: #eee;
  color: #000;
  border-color: #4596be;
  --bs-btn-hover-bg: #2f6d8b;
  --bs-btn-hover-border-color: #2f6d8b;
  --bs-btn-bg: #2f6d8b;
  --bs-btn-border-color: #2f6d8b;
}
.btn.btn-dark{
  background-color: #4596be;
  color: white;
  border-color: #4596be;
  --bs-btn-hover-bg: #2f6d8b;
  --bs-btn-hover-border-color: #2f6d8b;
  --bs-btn-active-border-color: #2f6d8b;
  --bs-btn-disabled-bg: #2f6d8b;
  --bs-btn-disabled-border-color: #2f6d8b;
  --bs-btn-active-bg: #2f6d8b;
  --bs-btn-bg: #2f6d8b;
  --bs-btn-border-color: #2f6d8b;
}
.bx.bx-menu{
  height: auto;
  width: auto;
}
.form-control.profile{
  margin-top: 10%;
  width: 50%;
  
}
.btn.btn-outline-secondary{
  margin-top: 10%;
  background-color: #4596be;
  color: white;
  border-color: #4596be;
  --bs-btn-hover-bg: #2f6d8b;
  --bs-btn-hover-border-color: #2f6d8b;
  --bs-btn-active-border-color: #2f6d8b;
  --bs-btn-disabled-bg: #2f6d8b;
  --bs-btn-disabled-border-color: #2f6d8b;
  --bs-btn-active-bg: #2f6d8b;
  --bs-btn-bg: #2f6d8b;
  --bs-btn-border-color: #2f6d8b;
}

.btn.btn-join{
  border-width: medium;
  color: #000;
  --bs-btn-hover-bg: #4596be;
  --bs-btn-border-color: #4596be;
  --bs-btn-hover-border-color: #4596be;
  --bs-btn-active-border-color: #4596be;
  --bs-btn-active-bg: #2f6d8b;
  --bs-btn-active-color: white !important;
}
.btn.btn-go{
  vertical-align: sub !important;
  border-width: 2px !important;
  color: #000;
  --bs-btn-border-color: #000 !important;
  --bs-btn-hover-bg: #4596be !important;
  --bs-btn-hover-border-color: #4596be !important;
  --bs-btn-active-border-color: #4596be !important;
  --bs-btn-active-bg: #2f6d8b !important;
  --bs-btn-active-color: white !important;
}
.btn.btn-outline-primary{
  --bs-btn-disabled-color: #4596be;
  --bs-btn-disabled-border-color: #4596be;
}

.card{
  --bs-card-height: auto !important;

}
.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2rem;
  max-height: 6rem;
  -webkit-line-clamp: 2;

}
.card.card-box-shadow{
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

form i {
  margin-left: -30px;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width:fit-content;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
padding: 2px 16px;
background-color: #4596be;
color: white;
}

/* Modal Body */
.modal-body {
padding: 2px 16px;
}



/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: 15% auto;
padding: 0;
border: 1px solid #888;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Add Animation */
@keyframes animatetop {
from {top: -300px; opacity: 0}
to {top: 0; opacity: 1}
}
@media(min-width:400px){
.modal.modal-body.btn-outline-primary.btn-join{
  width: 50%;
  margin: auto;
}
}



